{
  "openapi": "3.0.3",
  "info": {
    "title": "Customers API",
    "description": "API endpoints for customers dashboard data",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@factora.com"
    }
  },
  "servers": [
    {
      "url": "https://api.factora.com",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.factora.com",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/api/customers": {
      "get": {
        "summary": "Get customers list with analytics",
        "description": "Returns paginated list of customers with business sector analytics, onboarding trends, and revenue distribution",
        "operationId": "getCustomers",
        "tags": ["Customers"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of customers per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search query for business name, VAT, or sector",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customers data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersResponse"
                },
                "example": {
                  "customers": [
                    {
                      "businessName": "Baltic Food Traders Ltd",
                      "vat": "947265052",
                      "onboarded": "2 July 2025, 17:22 PM",
                      "country": "Estonia",
                      "type": "SB",
                      "sector": "Food & Beverages Wholesale"
                    },
                    {
                      "businessName": "AutoParts Distribution SRL",
                      "vat": "753944523",
                      "onboarded": "8 August 2025, 11:34 AM",
                      "country": "Romania",
                      "type": "SME",
                      "sector": "Automotive Parts & Equipment"
                    }
                  ],
                  "analytics": {
                    "businessSectors": [
                      {
                        "name": "Construction Materials",
                        "percentage": 23,
                        "color": "#2f9a8a"
                      },
                      {
                        "name": "Automotive Parts and Equipment",
                        "percentage": 18,
                        "color": "#133b4f"
                      }
                    ],
                    "onboardingData": [
                      {
                        "month": "Mar",
                        "value": 0
                      },
                      {
                        "month": "Apr",
                        "value": 0
                      },
                      {
                        "month": "May",
                        "value": 0
                      },
                      {
                        "month": "Jun",
                        "value": 280
                      },
                      {
                        "month": "Jul",
                        "value": 1820
                      },
                      {
                        "month": "Aug",
                        "value": 3824
                      }
                    ],
                    "revenueVariation": [
                      {
                        "range": "0-1M",
                        "value": 1250
                      },
                      {
                        "range": "1M-2.5M",
                        "value": 890
                      },
                      {
                        "range": "2.5M-10M",
                        "value": 420
                      },
                      {
                        "range": "10M+",
                        "value": 180
                      }
                    ],
                    "totalCustomers": 3824
                  },
                  "pagination": {
                    "page": 1,
                    "limit": 20,
                    "total": 3824,
                    "totalPages": 192
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CustomersResponse": {
        "type": "object",
        "required": ["customers", "analytics", "pagination"],
        "properties": {
          "customers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            },
            "description": "Array of customers"
          },
          "analytics": {
            "$ref": "#/components/schemas/CustomerAnalytics"
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Customer": {
        "type": "object",
        "required": [
          "businessName",
          "vat",
          "onboarded",
          "country",
          "type",
          "sector"
        ],
        "properties": {
          "businessName": {
            "type": "string",
            "description": "Legal business name",
            "example": "Baltic Food Traders Ltd"
          },
          "vat": {
            "type": "string",
            "description": "VAT registration number",
            "example": "947265052"
          },
          "onboarded": {
            "type": "string",
            "description": "Onboarding date and time",
            "example": "2 July 2025, 17:22 PM"
          },
          "country": {
            "type": "string",
            "description": "Country of registration",
            "example": "Estonia"
          },
          "type": {
            "type": "string",
            "enum": ["SB", "SME"],
            "description": "Business type - SB (Small Business) or SME (Small Medium Enterprise)",
            "example": "SB"
          },
          "sector": {
            "type": "string",
            "description": "Business sector",
            "example": "Food & Beverages Wholesale"
          }
        }
      },
      "CustomerAnalytics": {
        "type": "object",
        "required": [
          "businessSectors",
          "onboardingData",
          "revenueVariation",
          "totalCustomers"
        ],
        "properties": {
          "businessSectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BusinessSector"
            },
            "description": "Top business sectors by financed volume"
          },
          "onboardingData": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnboardingData"
            },
            "description": "Monthly customer onboarding trends"
          },
          "revenueVariation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RevenueVariation"
            },
            "description": "Revenue distribution by range"
          },
          "totalCustomers": {
            "type": "integer",
            "description": "Total number of customers",
            "example": 3824
          }
        }
      },
      "BusinessSector": {
        "type": "object",
        "required": ["name", "percentage", "color"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Sector name",
            "example": "Construction Materials"
          },
          "percentage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Percentage of financed volume",
            "example": 23
          },
          "color": {
            "type": "string",
            "description": "Hex color code for visualization",
            "example": "#2f9a8a"
          }
        }
      },
      "OnboardingData": {
        "type": "object",
        "required": ["month", "value"],
        "properties": {
          "month": {
            "type": "string",
            "description": "Month abbreviation",
            "example": "Mar"
          },
          "value": {
            "type": "integer",
            "description": "Number of customers onboarded",
            "example": 0
          }
        }
      },
      "RevenueVariation": {
        "type": "object",
        "required": ["range", "value"],
        "properties": {
          "range": {
            "type": "string",
            "description": "Revenue range",
            "example": "0-1M"
          },
          "value": {
            "type": "integer",
            "description": "Number of customers in this range",
            "example": 1250
          }
        }
      },
      "Pagination": {
        "type": "object",
        "required": ["page", "limit", "total", "totalPages"],
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "Items per page",
            "example": 20
          },
          "total": {
            "type": "integer",
            "description": "Total number of items",
            "example": 3824
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages",
            "example": 192
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code",
            "example": "INTERNAL_SERVER_ERROR"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "An unexpected error occurred"
          },
          "details": {
            "type": "string",
            "description": "Additional error details"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Customers",
      "description": "Endpoints for customers dashboard data"
    }
  ]
}
